@import 'variables';

.box {
  margin-bottom: 1em;
  padding: .7em 1em 1em 1em;
  border-radius: 2px;

  small {
    display: inline-block;
    margin: .1em 0 .3em 0;
  }

  &.align-left {
    text-align: left;
  }
  &.align-center {
    text-align: center;
  }
  &.align-right {
    text-align: right;
  }

  &.color-none {
    background: none;
  }
  &.color-blue {
    background-color: lighten($primary-brand-color, 22);
  }
  &.color-yellow {
    background-color: lighten(lightyellow, 3);
  }
  &.color-white {
    background-color: #fff;
  }

  &.size-small {
    font-size: .9em;
  }

  &.size-medium {
    font-size: inherit;
  }

  &.size-large {
    font-size: 1.2em;
  }
}