@import 'variables';

.date-icon {

  $border-radius: 3px;

  display: block;
  margin: 0;
  text-align: center;
  border-radius: $border-radius;
  background-color: #fff;

  .month {
    color: #fff;
    background-color: $secondary-brand-color;
    border-radius: $border-radius $border-radius 0 0;
  }

  .day-year {
    border: 1px solid $default-border-color;
    border-radius: 0 0 $border-radius $border-radius;

    .day {
      font-size: 1.5rem;
      font-weight: 500;
    }
    .year {
    }
  }
}