.feed-icon {
  $size: 12px;

  display: inline-block;
  background: transparent url('../images/feed-icon.png') no-repeat 0 0;
  background-size: $size;
  vertical-align: sub;
  margin-left: 5px;
  width: $size;
  height: $size;
}