@import 'variables';

@keyframes shift-rightwards {
  0% {
    transform: translateX(-100%);
  }

  40% {
    transform: translateX(0%);
  }

  60% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.loading-bar {
  display: block;
  position: fixed;
  z-index: 10000;
  top: 3.1em;
  left: 0;
  right: 0;
  height: 2px;
  background-color: $primary-brand-color;
  box-shadow: 0 1px 3px #9ecaed;
  transform: translateX(100%);
  animation: none;

  &.loading {
    animation: shift-rightwards 1s ease-in-out infinite;
  }

  div {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: #fff;
    width: 2px;
    height: 2px;
    box-shadow: 0 0 60px 5px #fff
  }

}

.react-background {
  background: transparent url('../images/react-logo.png') no-repeat 0 0;
  background-size: 100%;
  height: 400px;

}