@import 'variables';

.logo {
  display: inline-block;
  height: 37px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  color: $primary-brand-color;
  font-weight: 400;
  background: transparent url('../images/react-logo.png') no-repeat 0 1px;
  background-size: 35px;
  padding-left: 1.8em;
  padding-top: .3em;

  @media #{$information-iPhone5} {
    font-size: 1.4rem;
    padding-top: 8px;
  }

  &:hover {
    color: $primary-brand-color;
    text-decoration: none;
  }
  &:visited {
    color: $primary-brand-color;
  }
}


