@import 'variables';

.navbar {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.07rem;
  position: fixed;
  z-index: 10;
  top: 0;
  height: 3.3em;
  width: 100%;
  display: flex;
  background-color: #2d2d2d;
  color: #000;
  border-bottom: 1px solid $default-border-color;

  > div {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 1.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .right {
      .select-wrapper {
        background-color: #333;
        border-radius: 3px;
        select {
          color: $primary-brand-color;
          font-size: 1rem;
          border: none;

          @media #{$information-phone} {
            width: 110px !important;
          }

        }
      }
      .select-wrapper:after {
        color: $primary-brand-color;
      }
    }
  }
}