@import 'variables';

.post-list {

  div.list-date-group {
    margin-bottom: 1em;
    display: flex;
    border-bottom: 1px solid $default-border-color;

    @media #{$information-phone} {
      display: block;
    }

    > div:first-child {
      margin-right: 1em;
      @media #{$information-phone} {
        margin-right: 0;
      }
      time {
        width: 70px;
        margin-bottom: .5em;
        @media #{$information-phone} {
          width: 35%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 1em;
        }
      }
    }

    > div:last-child {
      width: 100%;

      .list-item {
        margin-bottom: .7em;
        padding: .5em 1.3em;
        background-color: #fff;
        border-radius: 3px;
        border-right: 1px solid lighten($default-border-color,3);
        border-bottom: 1px solid lighten($default-border-color,3);

        h3 {
          font-size: 1.1rem;
          font-weight: 500;
          margin: 0 0 .1em 0;
        }

        .details {
          font-size: .9rem;
        }
      }
    }
  }
}