.select-wrapper {
  display: inline-block;
  background-color: #fff;
  position: relative;

  select {
    padding: 6px 24px 6px 8px;
    appearance: none;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    background-color: transparent;
    border-radius: 0;
    position: relative;
    cursor: pointer;
    z-index: 10;
  }
}

.select-wrapper:after {
  content: "❯";
  transform: rotate(90deg);
  color: inherit;
  position: absolute;
  top: 6px;
  right: 12px;
  z-index: 5;
}

@-moz-document url-prefix() {
  .select-wrapper:after {
    top: 8px;
    right: 8px;
  }
}