$max-width: 960px;

$base-font-color: rgba(0, 0, 0, .8);
$body-background-color: #f9f9f9;

$primary-brand-color: #61dafb;
$secondary-brand-color: #CC7A6F;
$link-color: #c05b4d;

$default-background-color: #fff;
$default-border-color: #e4e4e4;

$primary-background-color: #F4645F;
$primary-border-color: #F4645F;

/*
  Media queries
*/
$information-phone: "only screen and (max-width : 430px)";
$information-iPhone5: "only screen and (max-width : 320px)";
$information-desktop: "screen and (max-width: 600px)";