@import 'variables';
@import "box";
@import "date-icon";
@import "logo";
@import "post-list";
@import "select";
@import "loading-bar";
@import "navbar";
@import "feed-icon";
@import "stats";

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 85%;
}

body {
  background-color: $body-background-color;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  color: $base-font-color;
  margin: 45px 0 0 0;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: #a5473a;
    text-decoration: underline;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: .5em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: .2em;
  position: relative;
}

h4 {
  font-size: 1.3em;
  font-weight: 400;
}

h5 {
  font-size: 1.3rem;
  font-weight: 500;
}

p {
  margin: 1.1em 0;
}

hr {
  border-top: 1px solid $default-border-color;
}

ul {
  margin: 0 2rem;
}

input, button, textarea {
  font-size: 1rem;
  line-height: 1.5;
}

input[type=text],
input[type=url],
input[type=email],
input[type=date],
input[type=number],
input[type=password],
textarea {
  border: 1px solid #ccc;
  padding: 3px 9px;
  color: inherit;
  font-size: inherit;
  width: 100%;
  display: block;
}

button {
  color: inherit;
  border: 1px solid $default-border-color;
  background-color: $default-background-color;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: .455rem 1rem;
  border-radius: 3px;

  &:hover:enabled {
    background-color: darken($default-background-color, 10%);
  }
  &:active:enabled {
    background-color: darken($default-background-color, 20%);
  }

  &.primary {
    color: #fff;
    border-color: $primary-border-color;
    background-color: $primary-background-color;
    &:hover:enabled {
      background-color: darken($primary-background-color, 10%);
    }
    &:active:enabled {
      background-color: darken($primary-background-color, 20%);
    }
  }

  &[disabled] {
    opacity: .5;
    cursor: default;
  }
}

input[type=checkbox] {
  cursor: pointer;
}

footer {
  color: #aeaeae;
  text-align: center;
  margin: 1em 0;
}

code {
  background-color: $body-background-color;
  border-radius: 3px;
  font-size: 100%;
  padding: .2em;
  white-space: pre-wrap;
}

dt {
  font-weight: bold;
  margin: 1em 0;
}

dd {
  margin: 1em 0 1em 1em;
}

table {
  width: 100%;
  table-layout: fixed;
  th {
    text-align: left;
  }

  th, td {
    padding: .1em .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.blog-table {
  th:first-child {
    width: 45px
  }
  .failed-row {
    background-color: lightgrey;
  }

}

.form-row {
  margin-bottom: .5em;
}

.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right !important;
}

.error {
  background-color: #F6DCDD;
  color: #B72F37;
  padding: 1em;
  margin-bottom: 1em;
  pre {
    white-space: pre-wrap;
  }
}

.content {
  max-width: $max-width;
  padding: 1.3em 1em 1.3em 1.5em;
  margin: 0 auto;
}

.two-column-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  > div:nth-child(1) {
    flex-basis: 65%;
    @media #{$information-desktop} {
      flex-basis: 100%;
    }
  }

  > div:nth-child(2) {
    flex-basis: 35%;
    padding-left: 1em;

    @media #{$information-phone} {
      flex-basis: 100%;
      padding-left: 0;
      display: flex;
      flex-flow: row wrap;

      > div {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 50%;
      }
    }

    //div.box:first-child {
    //  padding-top: 0;
    //}
  }

}