<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#2d2d2d">
  <link rel="shortcut icon" href="/favicon.ico">

  <%if (process.env.NODE_ENV !== 'development') { %>
    <!-- The webpack/HtmlWebpackPlugin development configuration will inject the css -->
    <link href="{{ URL::asset('<%= htmlWebpackPlugin.files.css %>') }}" rel="stylesheet">
  <% } %>

</head>
<body>
  <div id="root"></div>
  <%if (process.env.NODE_ENV !== 'development') { %>
    <!-- The webpack/HtmlWebpackPlugin development configuration will inject the scripts -->
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="{{ URL::asset('<%= htmlWebpackPlugin.files.chunks[chunk].entry %>') }}"></script>
    <% } %>
  <% } %>

  <%if (process.env.NODE_ENV !== 'development') { %>
    <script>
        window.__REACT_DEVTOOLS_GLOBAL_HOOK__.inject = function () {}
    </script>
  <% } %>

</body>
</html>